@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tiro Gurmukhi", serif;
  line-height: 1.4;
}

#img {
  background: #0c0404 url("../images/jacks-bar.jpg") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

#layer {
  background: #0c0404;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}

#img h1 {
  color: #fff;
  font-size: 7rem;
  margin-top: 125px;
  z-index: 1;
}

#img p {
  color: #fff;
  font-size: 2rem;
  z-index: 1;
}

#bar {
  font-size: 5rem;
  margin: 10px;
}

/* Navigation */
.nav ul {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 25px;
  justify-content: center;
  list-style: none;
  padding: 5px;
}

.nav li {
  list-style: none;
  margin-top: 50px;
  z-index: 1;
}

.nav a {
  color: #fff;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

h4 {
  text-decoration: underline;
}

/* grid part with images in squares*/
.squares {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  overflow: hidden;
  height: 100vh;
}
.squares h1 {
  font-size: 2.7rem;
  margin: 4rem;
  margin-top: 230px;
}
.square {
  background: url("../images/bar.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  height: 100vh;
  z-index: 1;
}

/* Hover */
.square:hover {
  transform: scale(1.2);
}
.square-2 {
  padding: 1.4rem;
  height: 60vh;
  width: 80%;
  z-index: 1;
}

.content p {
  font-size: 0.9rem;
  font-weight: lighter;
}

.content .btn {
  background: #fff;
  color: #0c0404;
  margin-left: 160px;
  padding: 10px;
  width: 6vw;
}

/* food pics */
.food-images {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
  padding-bottom: 15px;
}

.f-1 {
  /* background: url("../images/b-1.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}

.f-2 {
  /* background: url("../images/b-2.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}
.f-3 {
  /* background: url("../images/b-3.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}
.f-4 {
  /* background: url("../images/b-4.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}
.f-5 {
  /* background: url("../images/b-5.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}

.f-6 {
  /* background: url("../images/b-6.jpg") no-repeat center center/cover; */
  height: 40vh;
  width: 17vw;
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*utility classes  */
.container {
  padding: 20px 195px;
}

.text-center {
  text-align: center;
}

/* margin top  */
.m-1 {
  margin-top: 10px;
}
.m-2 {
  margin-top: 15px;
}

.m-3 {
  margin-top: 20px;
}

.m-4 {
  margin-top: 25px;
}

.m-5 {
  margin-top: 30px;
}

.m-6 {
  margin-top: 35px;
}

.m-7 {
  margin-top: 40px;
}

.m-8 {
  margin-top: 45px;
}
/* margin left */
.m-left {
  margin-left: 60px;
}

/* footer */
.footer {
  background: #333;
  height: 20vh;
}
