/*utility classes  */
.container {
    padding: 20px 195px;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* margin top  */
  .m-1 {
    margin-top: 10px;
  }
  .m-2 {
    margin-top: 15px;
  }
  
  .m-3 {
    margin-top: 20px;
  }
  
  .m-4 {
    margin-top: 25px;
  }
  
  .m-5 {
    margin-top: 30px;
  }
  
  .m-6 {
    margin-top: 35px;
  }
  
  .m-7 {
    margin-top: 40px;
  }
  
  .m-8 {
    margin-top: 45px;
  }
  /* margin left */
  .m-left {
    margin-left: 60px;
  }
  